<div class="flex flex-col items-start justify-start w-full px-4 sm:px-6 md:px-8 lg:px-12">
  <h2 class="font-semibold text-3xl sm:text-4xl md:text-5xl leading-tight mb-2 max-w-[25ch]">
    Bring nature to your home
  </h2>
  <p class="text-[#757575] text-base sm:text-lg md:text-xl lg:text-2xl leading-relaxed mb-4 max-w-[40ch]">
    Plants naturally purify the air, reduce stress, and enhance your overall well-being, bringing tranquility and
    vitality to your home.
  </p>
  <div class="self-start sm:self-center">
    <app-shop-now-button routerLink="/plants/shop" />
  </div>
</div>

