<div class="max-w-lg space-y-8 m-auto mt-15">
    <h2 class="font-semibold text-6xl max-w-[14ch] leading-tight">Bring nature to your home</h2>
    <p class="text-[#757575] text-3xl max-w-[30ch] leading-relaxed">
        Plants naturally purify the air, reduce stress, and enhance your overall well-being, bringing tranquility and vitality to your home.
    </p>
    <div class="flex space-x-4">
        <button class="bg-gray-800 text-white text-lg px-6 py-3.5 rounded-md cursor-pointer">Shop now</button>
        <button class="font-semibold text-gray-700 text-lg hover:underline cursor-pointer">Learn more...</button>
    </div>
</div>
