<section class="bg-[#f8f5ef] dark:bg-gray-900">
    <div class="flex flex-col items-center justify-center px-6 py-8 mx-auto md:h-screen lg:py-0">
        <a href="#" class="flex items-center mb-6 text-4xl font-semibold text-gray-900 dark:text-white">
            <img class="w-14 h-14 mr-2" src="/logo.png" alt="logo" />
            PlantFix
        </a>
        <div
            class="w-full bg-white rounded-lg shadow dark:border md:mt-0 sm:max-w-md xl:p-0 dark:bg-gray-800 dark:border-gray-700">
            <div class="p-6 space-y-4 md:space-y-6 sm:p-8">
                <h1 class="text-xl font-bold leading-tight tracking-tight text-gray-900 md:text-2xl dark:text-white">
                    Create an account
                </h1>
                <form [formGroup]="userForm" (ngSubmit)="createUser()">
                    <div>
                        <label for="name" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Your name
                        </label>
                        <input type="text" name="name" id="name" formControlName="name" placeholder="John Doe" required
                            class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
                        @if (backendErrors['name']) {
                        @for (error of backendErrors['name']; track error) {
                        <div class="text-red-500 text-sm mt-1">{{ error }}</div>
                        }
                        }
                    </div>

                    <div>
                        <label for="email" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Your email
                        </label>
                        <input type="email" name="email" id="email" formControlName="email"
                            placeholder="name@company.com" required
                            class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
                        @if (backendErrors['email']) {
                        @for (error of backendErrors['email']; track error) {
                        <div class="text-red-500 text-sm mt-1">{{ error }}</div>
                        }
                        }
                    </div>

                    <div>
                        <label for="password" class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Password
                        </label>
                        <input type="password" name="password" id="password" formControlName="password"
                            placeholder="Enter your password" required
                            class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
                        @if (backendErrors['password']) {
                        @for (error of backendErrors['password']; track error) {
                        <div class="text-red-500 text-sm mt-1">{{ error }}</div>
                        }
                        }
                    </div>

                    <div>
                        <label for="confirmPassword"
                            class="block mb-2 text-sm font-medium text-gray-900 dark:text-white">
                            Confirm Password
                        </label>

                        <input type="password" name="confirmPassword" id="confirmPassword"
                            formControlName="confirmPassword" placeholder="Confirm your password" required
                            class="bg-gray-50 border border-gray-300 text-gray-900 rounded-lg focus:ring-primary-600 focus:border-primary-600 block w-full p-2.5 dark:bg-gray-700 dark:border-gray-600 dark:placeholder-gray-400 dark:text-white dark:focus:ring-blue-500 dark:focus:border-blue-500" />
                        @if (
                        userForm.hasError('passwordsMismatch') &&
                        userForm.get('confirmPassword')?.touched
                        ) {
                        <div class="text-red-500 text-sm mt-1">
                            Passwords do not match.
                        </div>
                        }
                    </div>

                    <div class="flex items-center justify-center">
                        <button type="submit" [disabled]="userForm.invalid"
                            class="w-30 text-white bg-[#8dc98a] hover:bg-[#c4e4bf] font-medium rounded-lg text-sm px-5 py-2.5 text-center cursor-pointer">
                            Register
                        </button>
                    </div>

                    <p class="text-sm text-center font-light text-gray-500 dark:text-gray-400">
                        Already have an account?
                        <a href="/login" class="font-medium text-primary-600 hover:underline dark:text-primary-500">Sign
                            in</a>
                    </p>
                </form>
            </div>
        </div>
    </div>
</section>