<div class="flex items-center justify-between mt-5 mb-4 border-b-2 border-gray-300">
  <h2 class="mb-4">New plant</h2>
  <div class="flex gap-2 mb-3">
    <a href="/plants">Cancel</a>
    <button
      class="bg-green-500 text-white px-4 py-2 rounded hover:bg-green-600"
      (click)="createPlant()"
      [disabled]="plantForm.invalid"
    >
      Save
    </button>
  </div>
</div>

<form [formGroup]="plantForm" (ngSubmit)="createPlant()">
  <div>
    <label for="name">Name</label>
    <input
      id="name"
      formControlName="name"
      type="text"
      class="border border-gray-300 rounded p-2 w-full"
      placeholder="Enter plant name"
      required
    />
  </div>
  <div>
    <label for="dexcription">Description</label>
    <textarea
      id="description"
      formControlName="description"
      class="border border-gray-300 rounded p-2 w-full"
      placeholder="Enter plant description"
      required
    ></textarea>
  </div>
  <div>
    <label for="price">Price</label>
    <input
      id="price"
      formControlName="price"
      type="number"
      class="border border-gray-300 rounded p-2 w-full"
      placeholder="Enter plant price"
      required
    />
  </div>
  <div>
    <label for="image">Image URL</label>
    <input
      id="image"
      formControlName="image"
      type="text"
      class="border border-gray-300 rounded p-2 w-full"
      placeholder="Enter plant image URL"
      required
    />
  </div>

  <div>
    <button type="submit" class="bg-blue-500 text-white px-4 py-2 rounded hover:bg-blue-600 mt-4" [disabled]="plantForm.invalid">
      Create Plant
    </button>
  </div>
</form>