<button 
  class="relative h-10 max-h-[40px] w-10 max-w-[40px] hover:bg-gray-100 rounded-md cursor-pointer flex items-center justify-center" 
  aria-label="Show"
>
  <svg 
    xmlns="http://www.w3.org/2000/svg" 
    fill="none" 
    viewBox="0 0 24 24" 
    stroke-width="2" 
    stroke="currentColor"
    class="w-5 h-5"
  >
    <path 
      stroke-linecap="round" 
      stroke-linejoin="round"
      d="M12 4.5c-7.5 0-11.25 7.5-11.25 7.5S4.5 19.5 12 19.5s11.25-7.5 11.25-7.5S19.5 4.5 12 4.5z" 
    />
    <path 
      stroke-linecap="round" 
      stroke-linejoin="round" 
      d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6z" 
    />
  </svg>
</button>
