<section class="flex flex-col border border-gray-300 rounded-lg w-110 h-140 p-2.5 mx-40 items-center justify-center">
    <form>
        <div class="self-start px-2.5">
            <h2 class="font-semibold text-3xl">Shipping Information</h2>
            <p class="text-[#757575]">We ship within 2 working days</p>
        </div>
        <div class="flex flex-col w-12/12 gap-2.5 p-2.5">
            <label for="name">Full Name</label>
            <input id="name" type="text" placeholder="Enter your name" class="p-2.5 border border-gray-300 rounded-md">
        </div>

        <div class="flex flex-col w-12/12 gap-2.5 p-2.5">
            <label for="location">Location</label>
            <select id="location" class="p-2.5 border border-gray-300 rounded-md">
                <option value="">Select location</option>
                <option value="us">United States</option>
                <option value="uk">United Kingdom</option>
                <option value="ca">Canada</option>
            </select>
        </div>

        <div class="flex flex-col w-12/12 gap-2.5 p-2.5">
            <label for="note">Delivery Note</label>
            <textarea id="note" placeholder="Enter additional notes"
                class="p-2.5 border border-gray-300 rounded-md"></textarea>
        </div>
        <div class="terms flex flex-col w-11/12 gap-2.5 p-2.5">
            <label class="flex items-center gap-2 cursor-pointer">
                <!-- Checkbox oculto pero funcional -->
                <input type="checkbox" class="peer hidden">
        
                <!-- Caja del checkbox -->
                <div class="w-5 h-5 border border-gray-400 rounded-md flex items-center justify-center 
                            peer-checked:bg-gray-800 peer-checked:border-gray-800">
                    <!-- Ícono de check (V) en blanco -->
                    <svg class="w-4 h-4 text-white hidden peer-checked:block" fill="none" stroke="currentColor" stroke-width="3"
                        viewBox="0 0 24 24" xmlns="http://www.w3.org/2000/svg">
                        <path stroke-linecap="round" stroke-linejoin="round" d="M5 13l4 4L19 7"></path>
                    </svg>
                </div>
        
                <span class="text-gray-700">I accept the terms</span>
            </label>
            <a class="text-[#757575] ml-6 underline" href="#">Read our T&Cs</a>
        </div>
        <button type="submit" class="bg-gray-800 w-100 text-white p-2.5 border-none rounded-md cursor-pointer">Save
            shipping information</button>
    </form>
</section>