<div
  class="relative flex flex-col w-full h-full text-slate-700 bg-white dark:bg-zinc-700 shadow-md rounded-xl bg-clip-border">
  <div class="relative mx-4 mt-4 text-slate-700 rounded-none bg-clip-border">
    <div class="flex items-center justify-between ">
      <div>
        <h1 class="text-lg font-semibold text-slate-800 dark:text-white">Plant List</h1>
        <p class="text-slate-500">Check the info before updating/deleting</p>
      </div>
      <div class="flex flex-col gap-2 shrink-0 sm:flex-row">
        <div class="mx-3">
          <div class="w-full max-w-sm min-w-[200px] relative">
            <form id="search-form" action="" method="GET">
              <input type="hidden">
              <div class="relative">
                <label for="search" class="sr-only">Search by plant</label>

                <input id="search" placeholder="Search by plant..." name="search" type="search"
                  value="" />

                <button type="submit" aria-label="Buscar">
                  <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3"
                    stroke="currentColor" class="w-6 h-6">
                    <path stroke-linecap="round" stroke-linejoin="round"
                      d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                  </svg>
                </button>

              </div>
            </form>
          </div>
        </div>
        <button routerLink="/plants/new" class="flex items-center justify-center px-4 py-2 text-white bg-slate-700 rounded cursor-pointer hover:bg-slate-600">
          <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4 h-4 mr-2">
            <path
              d="M3 10C3 8.34315 4.34315 7 6 7H14C15.6569 7 17 8.34315 17 10V18C17 19.6569 15.6569 21 14 21H6C4.34315 21 3 19.6569 3 18V10Z"
              stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
            <path d="M10 14V11M10 14V17M10 14H13M10 14H7" stroke="currentColor" stroke-width="2" stroke-linecap="round"
              stroke-linejoin="round"></path>
            <path d="M7 3L18 3C19.6569 3 21 4.34315 21 6L21 17" stroke="currentColor" stroke-width="2"
              stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
          Add Plant
        </button>
      </div>
    </div>
  </div>

  <div class="p-0">
    <table class="w-full mt-4 text-left table-auto">
      <thead>
        <tr>
          <th
            class="p-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100 dark:bg-zinc-300 dark:border-zinc-200 dark:hover:bg-zinc-200">
            <p class="flex items-center justify-center gap-2 text-sm font-normal leading-none text-slate-500">
              Name
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" aria-hidden="true" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path>
              </svg>
            </p>
          </th>
          <th
            class="p-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100 dark:bg-zinc-300 dark:border-zinc-200 dark:hover:bg-zinc-200">
            <p class="flex items-center justify-center gap-2 text-sm font-normal leading-none text-slate-500">
              Description
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" aria-hidden="true" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path>
              </svg>
            </p>
          </th>

          <th
            class="p-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100 dark:bg-zinc-300 dark:border-zinc-200 dark:hover:bg-zinc-200">
            <p class="flex items-center justify-center gap-2 text-sm font-normal leading-none text-slate-500">
              Price
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" aria-hidden="true" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path>
              </svg>
            </p>
          </th>
          <th
            class="p-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100 dark:bg-zinc-300 dark:border-zinc-200 dark:hover:bg-zinc-200">
            <p class="flex items-center justify-center gap-2 text-sm font-normal leading-none text-slate-500">
              Image
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" aria-hidden="true" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path>
              </svg>
            </p>
          </th>

          <th
            class="p-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100 dark:bg-zinc-300 dark:border-zinc-200 dark:hover:bg-zinc-200">
            <p class="flex items-center justify-center gap-2 text-sm font-normal leading-none text-slate-500">
              Stock
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" aria-hidden="true" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path>
              </svg>
            </p>
          </th>

          <th
            class="p-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100 dark:bg-zinc-300 dark:border-zinc-200 dark:hover:bg-zinc-200">
            <p class="flex items-center justify-center text-sm font-normal leading-none text-slate-500">
              Actions</p>
          </th>
        </tr>
      </thead>
      <tbody>
        @if(plants.length === 0){
        <p class="p-4 text-center text-slate-500">
          No plants found
        </p>
        }@else{
        @for (plant of plants; track plant.id) {
        <tr>
          <td class="p-4 border-b border-slate-200">
            <div class="flex flex-col items-center">
              <p class="text-sm font-semibold text-slate-700 dark:text-white">
                {{ plant.name }}
              </p>
            </div>
          </td>
          <td class="p-4 border-b border-slate-200">
            <div class="flex flex-col items-center">
              <p class="text-sm text-slate-500 dark:text-white">
                {{ plant.description }}
              </p>
            </div>
          </td>

          <td class="p-4 border-b border-slate-200">
            <div class="flex flex-col items-center">
              <p class="text-sm text-slate-500 dark:text-white">
                {{ plant.price }}
              </p>
            </div>
          </td>

          <td class="p-4 border-b border-slate-200">
            <div class="flex flex-col items-center">
              <p>Image</p>
            </div>
          </td>

          <td class="p-4 border-b border-slate-200">
            <div class="flex flex-col items-center">
              <p class="text-sm text-slate-500 dark:text-white">
                {{ plant.stock }}
              </p>
            </div>
          </td>

          <td class="p-4 border-b border-slate-200">
            <div class="flex justify-center items-center gap-2">
              <!-- Botón Ver -->
              <button href="" class="relative h-10 max-h-[40px] w-10 max-w-[40px]" aria-label="Ver">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                  stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round"
                    d="M12 4.5c-7.5 0-11.25 7.5-11.25 7.5S4.5 19.5 12 19.5s11.25-7.5 11.25-7.5S19.5 4.5 12 4.5z"></path>
                  <path stroke-linecap="round" stroke-linejoin="round" d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                </svg>
              </button>

              <!-- Botón Editar -->
              <button class="relative h-10 max-h-[40px] w-10 max-w-[40px]" aria-label="Editar">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="1"
                  stroke="currentColor" class="w-6 h-6">
                <g id="SVGRepo_bgCarrier" stroke-width="0"></g><g id="SVGRepo_tracerCarrier" stroke-linecap="round" stroke-linejoin="round"></g><g id="SVGRepo_iconCarrier"> <path fill-rule="evenodd" clip-rule="evenodd" d="M15.8787 3.70705C17.0503 2.53547 18.9498 2.53548 20.1213 3.70705L20.2929 3.87862C21.4645 5.05019 21.4645 6.94969 20.2929 8.12126L18.5556 9.85857L8.70713 19.7071C8.57897 19.8352 8.41839 19.9261 8.24256 19.9701L4.24256 20.9701C3.90178 21.0553 3.54129 20.9554 3.29291 20.7071C3.04453 20.4587 2.94468 20.0982 3.02988 19.7574L4.02988 15.7574C4.07384 15.5816 4.16476 15.421 4.29291 15.2928L14.1989 5.38685L15.8787 3.70705ZM18.7071 5.12126C18.3166 4.73074 17.6834 4.73074 17.2929 5.12126L16.3068 6.10738L17.8622 7.72357L18.8787 6.70705C19.2692 6.31653 19.2692 5.68336 18.8787 5.29283L18.7071 5.12126ZM16.4477 9.13804L14.8923 7.52185L5.90299 16.5112L5.37439 18.6256L7.48877 18.097L16.4477 9.13804Z" fill="#000000"></path> </g></svg>
              </button>

              <!-- Botón Eliminar -->
              <button class="relative h-10 max-h-[40px] w-10 max-w-[40px]" type="submit" aria-label="Eliminar">
                <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                  stroke="currentColor" class="w-6 h-6">
                  <path stroke-linecap="round" stroke-linejoin="round" d="M6 18L18 6M6 6l12 12"></path>
                </svg>
              </button>
            </div>
          </td>
        </tr>
        } }
      </tbody>
    </table>
  </div>


    <!-- <div class="flex justify-between items-center px-4 py-3">
  </div>
    </div>
    <div class="flex space-x-1">
      @if ($fields->onFirstPage())
    <button  class="flex items-center justify-center px-3 py-1 min-w-9 min-h-9">
      Anterior
    </button>
      @else
    <button href="{{ $fields->previousPageUrl() }}" class="flex items-center justify-center px-3 py-1 min-w-9 min-h-9">
      Anterior
    </button>
      @endif

        @foreach ($fields->getUrlRange(1, $fields->lastPage()) as $page => $url)
      @if ($page == $fields->currentPage())
      <button class="flex items-center justify-center px-3 py-1 min-w-9 min-h-9">
        {{ $page }}
      </button>
      @else
      <button href="{{ $url }}" class="flex items-center justify-center px-3 py-1 min-w-9 min-h-9">
        {{ $page }}
      </button>
      @endif
        @endforeach

        @if ($fields->hasMorePages())
      <button href="{{ $fields->nextPageUrl() }}" class="flex items-center justify-center px-3 py-1 min-w-9 min-h-9">
      Siguiente
      </button>
        @else
      <button class="flex items-center justify-center px-3 py-1 min-w-9 min-h-9">
      Siguiente
      </button>
      @endif
    </div>
  </div> -->


