<h2>Plantas:</h2>
<ul>
  @for (plant of plants; track plant.id) {
    <li>{{ plant.name }}</li>
    <li>{{ plant.description }}</li>
    <li>{{ plant.price }}</li>
    <li>{{ plant.image }}</li>
  }
</ul>

<div class="relative flex flex-col w-full h-full text-slate-700 bg-white dark:bg-zinc-700 shadow-md rounded-xl bg-clip-border">
  <div class="relative mx-4 mt-4 overflow-hidden text-slate-700 rounded-none bg-clip-border">
    <div class="flex items-center justify-between ">
        <div>
            <h1 class="text-lg font-semibold text-slate-800 dark:text-white">Plant List</h1>
             <p class="text-slate-500">Check the info before updating/deleting</p> 
        </div>
      <div class="flex flex-col gap-2 shrink-0 sm:flex-row">
          <div class="mx-3">
              <div class="w-full max-w-sm min-w-[200px] relative">
                <form id="search-form" action="" method="GET">
                  <input type="hidden">
                  <div class="relative">
                    <label for="search" class="sr-only">Search by plant</label>
               
                      <input
                            variant="search"
                            id="search"
                            placeholder="Search by plant..."
                            name="search"
                            type="search"
                            value="" />
                    
                      <button
                          variant="search"
                          type="submit"
                          aria-label="Buscar">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="3" stroke="currentColor" class="w-6 h-6">
                              <path stroke-linecap="round" stroke-linejoin="round" d="m21 21-5.197-5.197m0 0A7.5 7.5 0 1 0 5.196 5.196a7.5 7.5 0 0 0 10.607 10.607Z" />
                          </svg>
                      </button>
             
                  </div>
              </form>
              </div>
          </div>
          <button
          href=""
          variant="add">
          <svg viewBox="0 0 24 24" fill="none" xmlns="http://www.w3.org/2000/svg" class="w-4 h-4">
            <path d="M3 10C3 8.34315 4.34315 7 6 7H14C15.6569 7 17 8.34315 17 10V18C17 19.6569 15.6569 21 14 21H6C4.34315 21 3 19.6569 3 18V10Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> 
            <path d="M10 14V11M10 14V17M10 14H13M10 14H7" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path> 
            <path d="M7 3L18 3C19.6569 3 21 4.34315 21 6L21 17" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
          </svg>
          Add Plant
        </button>
      </div>
    </div>
   
  </div>
  <div class="p-0">

    <div class="p-4 text-center text-slate-500">
      No plants found
    </div>

    <table class="w-full mt-4 text-left table-auto">
      <thead>
        <tr>
          <th
            class="p-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100 dark:bg-zinc-300 dark:border-zinc-200 dark:hover:bg-zinc-200">
            <p
              class="flex items-center justify-center gap-2 text-sm font-normal leading-none text-slate-500">
              Name
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" aria-hidden="true" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path>
              </svg>
            </p>
          </th>
          <th
            class="p-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100 dark:bg-zinc-300 dark:border-zinc-200 dark:hover:bg-zinc-200">
            <p
              class="flex items-center justify-center gap-2 text-sm font-normal leading-none text-slate-500">
              Description
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" aria-hidden="true" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path>
              </svg>
            </p>
          </th>
         
          <th
            class="p-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100 dark:bg-zinc-300 dark:border-zinc-200 dark:hover:bg-zinc-200">
            <p
              class="flex items-center justify-center gap-2 text-sm font-normal leading-none text-slate-500">
              Price
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" aria-hidden="true" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path>
              </svg>
            </p>
          </th>
          <th
            class="p-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100 dark:bg-zinc-300 dark:border-zinc-200 dark:hover:bg-zinc-200">
            <p
              class="flex items-center justify-center gap-2 text-sm font-normal leading-none text-slate-500">
              Image
              <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                stroke="currentColor" aria-hidden="true" class="w-4 h-4">
                <path stroke-linecap="round" stroke-linejoin="round"
                  d="M8.25 15L12 18.75 15.75 15m-7.5-6L12 5.25 15.75 9"></path>
              </svg>
            </p>
          </th>
          <th
            class="p-4 transition-colors cursor-pointer border-y border-slate-200 bg-slate-50 hover:bg-slate-100 dark:bg-zinc-300 dark:border-zinc-200 dark:hover:bg-zinc-200">
            <p
              class="flex items-center justify-center text-sm font-normal leading-none text-slate-500">
            Actions</p>
          </th>
        </tr>
      </thead> 
      <tbody>
          @for (plant of plants; track plant.id) {
              <tr>
                  <td class="p-4 border-b border-slate-200">
                      <div class="flex flex-col items-center">
                        <p class="text-sm font-semibold text-slate-700 dark:text-white">
                          {{ plant.name }}
                        </p>
                      </div>
                  </td>
                  <td class="p-4 border-b border-slate-200">
                    <div class="flex flex-col items-center">
                      <p
                        class="text-sm text-slate-500 dark:text-white">
                        {{ plant.description }}
                      </p>
                    </div>
                  </td>
             
                  <td class="p-4 border-b border-slate-200">
                    <div class="flex flex-col items-center">
                      <p class="text-sm text-slate-500 dark:text-white">
                          {{ plant.price }}
                      </p>
                    </div>
                  </td>

                  <td class="p-4 border-b border-slate-200">
                    <div class="flex flex-col items-center">
                  <p>Image</p>
                    </div>
                  </td>

                  <td class="p-4 border-b border-slate-200">
                    <div class="flex justify-center items-center gap-2">
                      <!-- Botón Ver -->
                      <button href=""  class="relative h-10 max-h-[40px] w-10 max-w-[40px]" aria-label="Ver">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                              stroke="currentColor" class="w-6 h-6">
                              <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M12 4.5c-7.5 0-11.25 7.5-11.25 7.5S4.5 19.5 12 19.5s11.25-7.5 11.25-7.5S19.5 4.5 12 4.5z"></path>
                              <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M12 15a3 3 0 1 0 0-6 3 3 0 0 0 0 6z"></path>
                          </svg>
                          Ver
                      </button> 

                      <!-- Botón Editar -->
                      <button  variant="editicon" class="relative h-10 max-h-[40px] w-10 max-w-[40px]" aria-label="Editar"> 
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                              stroke="currentColor" class="w-6 h-6">
                              <path stroke-linecap="round" stroke-linejoin="round"
                              d="M16.862 4.487a2.5 2.5 0 0 1 3.536 3.536l-1.414 1.414-3.536-3.536 1.414-1.414zM4 14v6h6l8-8H12a4 4 0 0 1-8 0z"></path>
                          </svg>
                          Editar
                      </button>
                  
                    
                      <!-- Botón Eliminar -->
                        <button class="relative h-10 max-h-[40px] w-10 max-w-[40px]" type="submit" aria-label="Eliminar">
                          <svg xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 24 24" stroke-width="2"
                              stroke="currentColor" class="w-6 h-6">
                              <path stroke-linecap="round" stroke-linejoin="round"
                                  d="M6 18L18 6M6 6l12 12"></path>
                          </svg>
                          Eliminar
                        </button>
                 
                    </div>
                    </td>                          
              </tr>
          }
      </tbody>
    </table>



  <!-- <div class="flex justify-between items-center px-4 py-3">
  </div>
    </div>
    <div class="flex space-x-1">
      @if ($fields->onFirstPage())
    <button variant="pagination-disabled" class="flex items-center justify-center px-3 py-1 min-w-9 min-h-9">
      Anterior
    </button>
      @else
    <button href="{{ $fields->previousPageUrl() }}" variant="pagination-active" class="flex items-center justify-center px-3 py-1 min-w-9 min-h-9">
      Anterior
    </button>
      @endif

        @foreach ($fields->getUrlRange(1, $fields->lastPage()) as $page => $url)
      @if ($page == $fields->currentPage())
      <button variant="numeration-active" class="flex items-center justify-center px-3 py-1 min-w-9 min-h-9">
        {{ $page }}
      </button>
      @else
      <button href="{{ $url }}" variant="numeration-inactive" class="flex items-center justify-center px-3 py-1 min-w-9 min-h-9">
        {{ $page }}
      </button>
      @endif
        @endforeach

        @if ($fields->hasMorePages())
      <button href="{{ $fields->nextPageUrl() }}" variant="pagination-active" class="flex items-center justify-center px-3 py-1 min-w-9 min-h-9">
      Siguiente
      </button>
        @else
      <button variant="pagination-disabled" class="flex items-center justify-center px-3 py-1 min-w-9 min-h-9">
      Siguiente
      </button>
      @endif
    </div>
  </div>
</div>
</div>
</div> -->

