<div class="text-gray-800 min-h-screen pt-30 pb-20 p-40">
  <div class="container mx-auto">
    <!-- Encabezado -->
    <div class="flex justify-between items-center mb-4">
      <!-- Resultados -->
      <p class="text-sm">Showing {{ plants.length }} results.</p>

      <button class="border px-4 py-2 rounded flex items-center gap-2">
        <svg class="w-4 h-4" fill="none" stroke="currentColor" stroke-width="2" viewBox="0 0 24 24">
          <path stroke-linecap="round" stroke-linejoin="round" d="M4 6h16M4 12h8m-8 6h16"></path>
        </svg>
        Filter
      </button>
    </div>

    <!-- Grid de productos -->
    <div class="grid grid-cols-1 sm:grid-cols-1 md:grid-cols-2 lg:grid-cols-4 gap-6">
      @for (plant of plants; track plant.id) {
      <div class=" bg-[#fbf9f5] rounded-md shadow p-4 flex flex-col">
        <div class="relative">
          <img [src]="plant.image_url" [alt]="plant.name" class="mb-4 rounded w-full h-70 object-cover">

          @if (plant.stock >= 1 && plant.stock < 5) { <span
            class="absolute top-2 left-2 bg-orange-500 text-white text-xs px-2 py-1 rounded">
            ¡Pocas unidades!
            </span>
            }
        </div>

        <h3 class="font-semibold text-lg">{{ plant.name }}</h3>
        <p class="text-sm text-gray-600 mb-1">{{ plant.description }}</p>
        <p class="text-sm text-gray-500">Family: {{ plant.plant_family.name }}</p>
        <p class="text-sm text-gray-600">Stock: {{ plant.stock }}</p>

        <div class="flex items-center justify-between px-2">
          <p class="text-lg font-bold mt-2">${{ plant.price }}</p>

          @if(plant.stock > 0){
          @if(!isAdded(plant)){
          <app-add-to-cart-button (click)="addToCart(plant)"></app-add-to-cart-button>
          }@else{
          <app-added-to-cart-button></app-added-to-cart-button>
          }
          }@else{
          <app-out-of-stock-button></app-out-of-stock-button>
          }
        </div>
      </div>
      }
    </div>
  </div>
</div>