<aside class="flex flex-col bg-white text-gray-700 shadow h-screen" [ngClass]="isOpen() ? 'w-64' : 'w-20'">
  <!-- Navigation Links -->
  <div class="flex items-start mt-[10vh]">
    <ul class="flex-1">
      <li class="hover:bg-[#c4e4bf] pl-4">
        <a routerLink="/" class="h-16 px-4 flex items-center space-x-4 w-full">
          <svg class="h-7 w-7 text-[#69b85d]" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.91"
            stroke-linecap="round" stroke-linejoin="round">
            <path
              d="M9 20H7C5.89543 20 5 19.1046 5 18V10.9199C5 10.336 5.25513 9.78132 5.69842 9.40136L10.6984 5.11564C11.4474 4.47366 12.5526 4.47366 13.3016 5.11564L18.3016 9.40136C18.7449 9.78132 19 10.336 19 10.9199V18C19 19.1046 18.1046 20 17 20H15M9 20V14C9 13.4477 9.44772 13 10 13H14C14.5523 13 15 13.4477 15 14V20M9 20H15" />
          </svg>
          <span *ngIf="isOpen()" class="text-sm font-medium">Home</span>
        </a>
      </li>

      <li class="hover:bg-[#c4e4bf] pl-4">
        <a routerLink="/plants/shop" class="h-16 px-4 flex items-center space-x-4 w-full">
          <svg class="h-6 w-6" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="1.91">
            <path d="M3.41,7.23H20.59v12a3.23,3.23,0,0,1-3.23,3.23H6.64A3.23,3.23,0,0,1,3.41,19.23Z" />
            <path d="M8.18,10.09V5.32A3.82,3.82,0,0,1,12,1.5a3.82,3.82,0,0,1,3.82,3.82v4.77" />
          </svg>
          <span *ngIf="isOpen()" class="text-sm font-medium">Shop</span>
        </a>
      </li>

      <li class="hover:bg-[#c4e4bf] pl-4">
        <a routerLink="/planttips" class="h-16 px-4 flex items-center space-x-4 w-full">
          <svg class="h-6 w-6" viewBox="0 0 24 24" fill="#000000" xmlns="http://www.w3.org/2000/svg">
            <path
              d="M12 2.5c-3.81 0-6.5 2.743-6.5 6.119 0 1.536.632 2.572 1.425 3.56.172.215.347.422.527.635l.096.112c.21.25.427.508.63.774.404.531.783 1.128.995 1.834a.75.75 0 01-1.436.432c-.138-.46-.397-.89-.753-1.357a18.354 18.354 0 00-.582-.714l-.092-.11c-.18-.212-.37-.436-.555-.667C4.87 12.016 4 10.651 4 8.618 4 4.363 7.415 1 12 1s8 3.362 8 7.619c0 2.032-.87 3.397-1.755 4.5-.185.23-.375.454-.555.667l-.092.109c-.21.248-.405.481-.582.714-.356.467-.615.898-.753 1.357a.75.75 0 01-1.437-.432c.213-.706.592-1.303.997-1.834.202-.266.419-.524.63-.774l.095-.112c.18-.213.355-.42.527-.634.793-.99 1.425-2.025 1.425-3.561C18.5 5.243 15.81 2.5 12 2.5zM9.5 21.75a.75.75 0 01.75-.75h3.5a.75.75 0 010 1.5h-3.5a.75.75 0 01-.75-.75zM8.75 18a.75.75 0 000 1.5h6.5a.75.75 0 000-1.5h-6.5z" />
          </svg>
          <span *ngIf="isOpen()" class="text-sm font-medium">Plant tips</span>
        </a>
      </li>

      <li class="hover:bg-[#c4e4bf] pl-4">
        <a routerLink="/contact" class="h-16 px-4 flex items-center space-x-4 w-full">
          <svg class="h-6 w-6" xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
            fill="none">
            <path
              d="M19.89,3.25H4.11a2,2,0,0,0-2,2v9.06a2,2,0,0,0,2,2H5.75l2.31,4a.85.85,0,0,0,1.48,0l2.32-4h8a2,2,0,0,0,2-2V5.25A2,2,0,0,0,19.89,3.25Z"
              stroke="#000000" stroke-linecap="round" stroke-linejoin="round" stroke-width="1.5" />
            <line x1="5.01" y1="7.86" x2="11.01" y2="7.86" stroke="#000000" stroke-linecap="round"
              stroke-linejoin="round" stroke-width="1.5" />
            <line x1="5.01" y1="11.86" x2="18.01" y2="11.86" stroke="#000000" stroke-linecap="round"
              stroke-linejoin="round" stroke-width="1.5" />
          </svg>
          <span *ngIf="isOpen()" class="text-sm font-medium">Contact</span>
        </a>
      </li>
   
        <p class="h-16 flex items-center w-full border-t pl-4">Admin</p>
        <li class="hover:bg-[#c4e4bf] pl-4">
          <a routerLink="/plants" class="h-16 px-4 flex items-center space-x-4 w-full">
            <svg class="h-8 w-8" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 32 32" fill="none" stroke="#000000" stroke-width="1.5" stroke-linecap="round" stroke-linejoin="round">
              <path d="M10 18h12v3a1 1 0 0 1-1 1l-1 8H12l-1-8a1 1 0 0 1-1-1v-3z" />
              <path d="M16 2c1 1 2 5 2.5 8l3.5-3.5c1.5-1.5 2-1.5 2-1.5s.5 1.5-1 6l2.5-.2c1.5 0 2 .5 2 .5s-.5 2-6.5 5H11c-6-3-6.5-5-6.5-5s.5-.5 2-.5l2.5.2c-1.5-4.5-1-6-1-6s.5 0 2 1.5l3.5 3.5c.5-3 1.5-7 2.5-8z" />
            </svg>            
            <span *ngIf="isOpen()" class="text-sm font-medium">Plants</span>
          </a>
        </li>
    </ul>
  </div>

  <div class="fixed bottom-0">
    <div class="h-16 flex items-center w-full border-t">
      <button (click)="toggleSidebar()"
        class="h-16 w-full flex justify-center items-center hover:bg-[#c4e4bf] focus:outline-none"
        aria-label="Toggle sidebar">

        <p *ngIf="isOpen()" class="flex items-center text-center justify-center m-auto gap-2 w-64">
          <svg class="h-5 w-5 text-[#69b85d]" style="transform: scaleX(-1);" xmlns="http://www.w3.org/2000/svg" width="24"
            height="24" viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
            stroke-linejoin="round">
            <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
            <polyline points="16 17 21 12 16 7"></polyline>
            <line x1="21" y1="12" x2="9" y2="12"></line>
          </svg>
          Collapsed view
        </p>

        <svg *ngIf="!isOpen()" class="h-5 w-20 text-[#69b85d]" xmlns="http://www.w3.org/2000/svg" width="24" height="24"
          viewBox="0 0 24 24" fill="none" stroke="currentColor" stroke-width="2" stroke-linecap="round"
          stroke-linejoin="round">
          <path d="M9 21H5a2 2 0 0 1-2-2V5a2 2 0 0 1 2-2h4"></path>
          <polyline points="16 17 21 12 16 7"></polyline>
          <line x1="21" y1="12" x2="9" y2="12"></line>
        </svg>
      </button>
    </div>
  </div>
</aside>