<div class="p-30">
    <main class="flex justify-between mt-[10vh] mb-20 gap-20">
        <div class="flex-1">
            <app-hero />
        </div>

        <div class="flex-1">
            <app-hero-text />
        </div>
    </main>

    <section class="text-center p-5">
        <app-animated-icons />
    </section>

    <section class="flex justify-between p-5">
        <div class="flex-1">
            <app-contact-text></app-contact-text>
        </div>
        <div class="flex-1">
            <app-product-item />
        </div>
    </section>
</div>