<div class="max-w-2xl mx-auto p-30">
  <h2 class="text-2xl font-semibold mb-1">Account</h2>
  <p class="text-gray-500 mb-6">Update your profile and personal details here</p>

  <form [formGroup]="settingsForm" (ngSubmit)="updateUser()">
  <!-- Profile -->
  <div class="mb-10">
    <h3 class="text-lg font-medium mb-4">Profile</h3>
    <div class="grid grid-cols-1 sm:grid-cols-2 gap-4 mb-4">
      <label for="name">Name:
      <input type="text" id="name" formControlName="name" class="p-2 w-full border rounded-md mb-2">
      </label>
      @if (backendErrors['name']) {
        @for (error of backendErrors['name']; track error) {
          <div class="text-red-500 text-sm mt-1">{{ error }}</div>
        }
      }
    </div>
    <label for="email">Email:
    <input type="email" id="email" formControlName="email" class="p-2 w-full border rounded-md mb-2">
    </label>
    @if (backendErrors['email']) {
        @for (error of backendErrors['email']; track error) {
          <div class="text-red-500 text-sm mt-1">{{ error }}</div>
        }
      }
  </div>

  <!-- Password -->
  <div class="mb-10">
    <label for="password" class="text-lg font-medium mb-4">Password
    <input type="password" id="password" formControlName="password" class="p-2 w-full border rounded-md mb-2">
    </label>
    @if (backendErrors['password']) {
        @for (error of backendErrors['password']; track error) {
          <div class="text-red-500 text-sm mt-1">{{ error }}</div>
        }
      }
    <label for="password_confirmation" class="text-lg font-medium mb-4">Confirm password
    <input type="password_confirmation" id="" formControlName="password_confirmation" class="p-2 w-full border rounded-md mb-2">
    </label>
    @if (backendErrors['password_confirmation']) {
        @for (error of backendErrors['password_confirmation']; track error) {
          <div class="text-red-500 text-sm mt-1">{{ error }}</div>
        }
      }
    <button type="submit" class="px-6 py-2 bg-blue-600 text-white rounded-md hover:bg-blue-700 transition">Update account</button>
  </div>
  </form>

  <!-- Danger zone -->
  <div class="border border-red-200 bg-red-50 p-6 rounded-md">
    <h3 class="text-lg font-medium text-red-600 mb-2">Danger zone</h3>
    <p class="text-sm text-red-600 mb-4">Permanently remove your account. This action is not reversible.</p>
    <button (onClick)="deleteUser()" class="px-6 py-2 bg-red-600 text-white rounded-md hover:bg-red-700 transition">Delete account</button>
  </div>
</div>

